.ui-tables {
    .mdl-card,
    .mdl-card__supporting-text {
      overflow-x: auto;
    }
  
    table {
      width: 100%;
  
      td {
        font-size: 1rem;
      }
    }
  
    .no-padding {
      padding: 0;
      width: 100%;
    }
  
    .label__availability {
      margin-right: 2px;
    }
  }

  .add-content{
    position: relative;
    left: 70%;
  }

  .add-conent-text {
    font-size: 19px;
    font-weight: bold;
  }

  .header-icon {
    position: relative;
    top: 5px;
    right: 5px;
  }

  .inherit {
    display: inherit;
  }

  .right {
    margin-left: auto;
  }

  .link{
    color: #00bcd4;   
    cursor: pointer;
  }

    .link:hover {
      color: #03A9F4;
      text-decoration: underline;
    }

    