<div class="mdl-grid">
<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone">
    <base-card>
        <base-card-title>
            <h2 class="mdl-card__title-text">Członkowie</h2>
            <div class="mdl-card__subtitle">Role członków projektu</div>
        </base-card-title>
        <base-card-body class="no-padding">
            <mat-selection-list #roles (click)="onRoleChange()">
                <mat-list-option *ngFor="let role of rolesList" [value]="role.id">
                    {{role.name}}
                </mat-list-option>
            </mat-selection-list>
            <hr>
            <span (click)="expandFilters(filtersVisible)" class="link icon-text"><i
                class="material-icons header-icon"><b>filter_list</b></i><span class="add-content-text">Dodaj członka</span>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span (click)="expandFilters(filtersVisible)" class="link icon-text"><i
            class="material-icons header-icon"><b>filter_list</b></i><span class="add-content-text">Dodaj rolę</span>
    </span>
        </base-card-body>
    </base-card>
</div>
<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone">
        <base-card>
        <base-card-title>
        </base-card-title>
        <base-card-body class="no-padding">
            <div *ngFor="let user of filteredProjectUsers">
                <p>{{user.userFullName}}</p>
            </div>
        </base-card-body>
    </base-card>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <app-add-user></app-add-user>
</div>
