@import '~theme/helpers';
.employer-form {
  
    .mdl-textfield {
        padding: 7px 7px;
    }
  
    .mdl-radio {
      width: 20%;
      margin-top: 22px;
      margin-bottom: 22px;
      color: $employer-form-color-brighter;
    }
  
    .form__article > span {
      float: left;
      width: 100%;
      color: $employer-form-color-darker;
      font-weight: 200;
    }
  
    .mdl-card__title {
      background-color: $color-accent;
      height: 66px;
      width: 100%;
      padding-top: 16px;
      padding-left: $employer-form-horizontal-padding;
      padding-right: $employer-form-horizontal-padding;
      padding-bottom: 0;
      display: block;
  
      @include typo-employer-form-header();
    }
  
    button.mdl-button.mdl-button--colored {
      width: 68px;
      height: 32px;
  
      @include typo-employer-form-button();
  
      background-color: $color-primary;
  
      &:disabled {
        // NOTE: $color-gray is different
        background-color: gray;
        color: $employer-form-color-darker;
      }
    }
}

.link{
  color: #00bcd4;   
  cursor: pointer;
}

  .link:hover {
    color: #03A9F4;
    text-decoration: underline;
  }

.right {
  margin-left: auto;
  padding-left: 20px; 
}

.add-content-text {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  bottom: 5px;
}

.add-text {
  font-size: 14px;
  position: relative;
  bottom: 5px;
  color: #999;
}

.add-text:hover {
  text-decoration: underline;
  color: #03A9F4;
}

.table-icon {
  font-size: 20px !important;
}

.cursor { 
  cursor: pointer;
}

.cursos:hover {
  color: #03A9F4;
}
