<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
  <base-card>
    <base-card-title>
      <h1 class="mdl-card__title-text">Zadania przypisane do Ciebie</h1>
      <div class="mdl-layout-spacer"></div>
      <base-pagination [numPage]="numPage"
                       [currentPage]="currentPage"
                       (changePage)="changePage($event)"></base-pagination>
    </base-card-title>
    <base-card-body class="no-padding">
      <table class="mdl-data-table mdl-js-data-table sorting-table">
        <thead>
        <tr>
          <th *ngFor="let header of advancedHeaders; let i = index" class="mdl-data-table__cell--non-numeric"
              (click)="changeSorting(header, i)">
            <span>{{ header.name }}</span>
            <i *ngIf="header.sort !== null " class="material-icons sorting"
               [class.asc]="header.sort === sortOrder.asc"
               [class.active]="header.sort === sortOrder.asc || header.sort === sortOrder.desc">sort</i>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of advancedTable" (click)="goToTaskDetails(row[0])">
          <td *ngFor="let cell of row.slice(0,3)" class="mdl-data-table__cell--non-numeric">{{ cell }}</td>
          <td class="mdl-data-table__cell--non-numeric">
            <span *ngFor="let genre of Array(row[4])" class="label label--mini color--{{ genreColors[genre] }}">{{ genre }}</span>
          </td>
          <td *ngFor="let cell of row[6].slice(1,2)" class="mdl-data-table__cell--non-numeric">{{ cell }}</td>
          <td *ngFor="let cell of Array(row[3])" class="mdl-data-table__cell--non-numeric">{{ cell | slice:0:10}}</td>
          <td *ngFor="let cell of row[5].slice(1,2)" class="mdl-data-table__cell--non-numeric">{{ cell }}</td>
          <td class="mdl-data-table__cell--non-numeric">
            <span *ngFor="let item of Array(row[5][0])" class="label label--mini label__availability"
                  [class.color--red]="row[5][0] === 1"
                  [class.color--amber]="row[5][0] === 2"
                  [class.background-color--primary]="row[5][0] === 4 || row[5][0] === 5 || row[5][0] === 6"
                  [class.color--orange]="row[5][0] === 3"
                  [class.color--green]="row[5][0] === 7"></span>
                  
            <span *ngFor="let i of Array(8 - row[5][0])" class="label label--mini label__availability"></span>
          </td>
          <!-- <td class="mdl-data-table__cell--non-numeric">project</td> -->
        </tr>
        </tbody>
      </table>
    </base-card-body>
  </base-card>
</div>



